* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}
ion-icon {
    height: 80px;
    width: 80px;
    color: #b28756;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, 
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}
.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    height: 100px;
    padding: 0 10px;
    align-items: center;
    border-bottom: 5px solid #000;
    font-size: .875rem;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #555;
}

/* Primeira sessão do site, banner */
.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}


.banner {
    height:calc(100vh - 100px);
    background-color: #555;
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .slides {
    width: 500vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .7);
}

.banner .slide-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.banner .slides-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b28756;
}


 /* sessão padrão default */

 .default {
    padding: 50px 0;
 }
 .default .section-title,
 .default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
 }
 .default .section-title {
    font-size: 1.5rem;
 }
 .default .section-desc {
    font-size: 1rem;
    color: #888;
    padding: 10px;
    margin: 10px 0 40px;
 }
 .default .section-body {
    max-width: 1140px;
    margin: auto;
 }

 .default.light {
    background-color: #f7f7f7;
 }
 .default.ligth .section-title,
 .default.ligth .section-body {
    color: #000;
 }
 .default.dark {
    background-color: #000;
 }
 .default.dark .section-title,
 .default.dark .section-body {
    color: #fff;
 }




 /* Area About us */

 .section-aboutus {
    display: flex;
 }
 .section-aboutus-left {
    flex: 1;
 }
 .section-aboutus-left{
    font-size: .875rem;
    line-height: 25px;
 }
.section-aboutus-right {
    width: 520px;
    text-align: center;
}
.section-aboutus-right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/* Area Service */

.section-services {
    display: flex;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 10px;
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service h4 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.section-service p {
    margin-top: 10px;
    font-size: .875rem;
    color: #999;
}

/* Area Projects */

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #ddd;
    border-radius: 20px;
    padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: .875rem;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #DDD;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child {
    border-left: 0;
}


.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px;
}
.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.section-projects--photoinfo h5 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}


/* Area Team slides */

.bg-team {
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area {
    background-color: rgba(0, 0, 0, .5);
    padding: 50px 0;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .slides {
    width: 100vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
    height: 300px;
}
.section-team .slide-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3Opx;
    color: #000;
}
.section-team .slides-pointers {
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.section-team .pointer.active {
    background-color: #b28756;
} 

/* Conteudo do slides team */

.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 30px;
}
.section-team--role {
    font-size: .875rem;
    color: #999;
    margin-top: 5px;
}
.section-team--social {
    display: flex;
    margin-top: 20px;
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #BBB;
    border-radius: 50%;
    margin-right: 10px;
}
.section-team--social a:hover {
    background-color: #b28756;
}


/* Area Testimonial Clients */

.tesimonials-clients .section-body {
    max-width: initial;
}
.tesimonials-clients {
    overflow: hidden;
}

.section-clients .slides {
    width: 1000vw;
    height: 100%;
}
.section-clients .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.section-clients .slide-area {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}
.section-clients .section-clients--avatar {
    width: 100px;
}
.section-clients .section-clients--name {
    font-weight: bold;
    font-size:1.5rem;
    margin-top:20px;
}
.section-clients .section-clients--role {
    font-size: 1rem;
}
.section-clients .section-clients--quoteimg {
    width: 30px;
    margin-top: 30px;
}
.section-clients .section-clients--quote {
    margin-top: 30px;
    width: 700px;
    line-height: 25px;
    color: #555;
    text-align: center;
}
.section-clients .slides-pointers {
    width: 100vw;
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.section-clients .pointer.active {
    background-color: #b28756;
}

/* Area Company */

.company {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.section-company--area {
    display: flex;
    align-items: center;
}
.section-company {
    flex: 1;
    text-align: center;
}